services:
  backend:
    image: ${DOCKERHUB_USERNAME}/checkmate-be:latest
    container_name: checkmate-be
    env_file: .env
    ports:
      - "8080:8080"
    restart: always

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - backend
    restart: always