@import 'tailwindcss';
@import 'tw-animate-css';

@font-face {
  font-family: 'Pretendard Variable';
  src: url('./assets/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/poppins-v24-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@theme {
  --font-pretendard: 'Pretendard Variable', sans-serif;
  --font-poppins: 'Poppins', sans-serif;

  /*====== 색상 ======= */
  /* ======= primitive ========*/

  /* color 관련 */

  /* grey */
  --color-grey-1000: #161617;
  --color-grey-900: #242528;
  --color-grey-800: #46474a;
  --color-grey-700: #656669;
  --color-grey-600: #797a7d;
  --color-grey-500: #a3a4a7;
  --color-grey-400: #c1c2c6;
  --color-grey-300: #e4e5e8;
  --color-grey-200: #f0f1f5;
  --color-grey-100: #f6f7fb;
  --color-grey-50: #fafbff;
  --color-grey-0: #ffffff;

  /* brand */
  --color-brand-900: #004aa9;
  --color-brand-800: #006ac9;
  --color-brand-700: #007ad9;
  --color-brand-600: #008cec;
  --color-brand-500: #019afa;
  --color-brand-400: #39a9fc;
  --color-brand-300: #60b8fb;
  --color-brand-200: #90cefc;
  --color-brand-100: #bbe0fd;
  --color-brand-50: #e3f2fe;
  --color-brand-20: #f4faff;

  /* others */
  --color-others-red: #ff4443;
  --color-others-gracyblue: #e4e9f3;
  --color-others-casualgrey: #fafafb;

  /* ======= sementic ========*/

  /* color 관련 */
  --color-brand-main: var(--color-brand-500);
  --color-brand-light: var(--color-brand-300);
  --color-others-negative: var(--color-others-red);

  --color-others-50: var(--color-brand-50);
  --color-others-20: var(--color-brand-20);
  --color-others-tap-bg: var(--color-others-gracyblue);

  /* special colors */
  --color-special-dashboard-bg: #fafbff;
  --color-special-card-bg: #ffffff;

  /*====== 간격 ======= */
  --spacing-0: 0rem; /* 0px */
  --spacing-50: 0.125rem; /* 2px */
  --spacing-100: 0.25rem; /* 4px */
  --spacing-150: 0.375rem; /* 6px (특수 경우) */
  --spacing-200: 0.5rem; /* 8px */
  --spacing-250: 0.625rem; /* 10px */
  --spacing-300: 0.75rem; /* 12px */
  --spacing-350: 0.875rem; /* 14px */
  --spacing-400: 1rem; /* 16px */
  --spacing-500: 1.25rem; /* 20px */
  --spacing-600: 1.5rem; /* 24px */
  --spacing-700: 1.75rem; /* 28px */
  --spacing-800: 2rem; /* 32px */
  --spacing-900: 2.25rem; /* 36px */
  --spacing-1000: 2.5rem; /* 40px */

  /*====== 모서리 둥굴======= */
  --radius-0: 0rem; /* 0px */
  --radius-50: 0.125rem; /* 2px */
  --radius-100: 0.25rem; /* 4px */
  --radius-150: 0.375rem; /* 6px */
  --radius-200: 0.5rem; /* 8px */
  --radius-250: 0.625rem; /* 10px */
  --radius-300: 0.75rem; /* 12px */
  --radius-400: 1rem; /* 16px */
  --radius-500: 1.25rem; /* 20px */
  --radius-600: 1.5rem; /* 24px */
  --radius-700: 1.75rem; /* 28px */
  --radius-800: 2.25rem; /* 36px */
  --radius-900: 3rem; /* 48px */
  --radius-unlimit: 9999px; /* 원형 */

  /*그림자*/
  --shadow-card-floating: 0 12px 50px -12px rgba(16, 24, 40, 0.25);

  /* 애니메이션 */
  --animate-shake: shake 150ms ease-in 2;
  @keyframes shake {
    0%,
    100% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
  }

  --animate-fade-in: fadeIn 200ms ease-in-out;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@layer base {
  html,
  body {
    font-family: var(--font-pretendard);
    width: 100%;
    height: 100%;
  }

  #root {
    width: 100%;
    height: 100%;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-grey-300) transparent;
  }
}

/* Card utility */
@layer components {
  .card {
    @apply bg-special-card-bg rounded-400 p-5;
    & h3 {
      @apply body-medium-semibold text-grey-700;
    }
  }
}

@utility headline-large {
  font-size: 2.625rem; /* 42px */
  line-height: 3.6875rem; /* 59px */
}
@utility headline-medium {
  font-size: 2.125rem; /* 34px */
  line-height: 3rem; /* 48px */
}
@utility headline-small {
  font-size: 1.75rem; /* 28px */
  line-height: 2.4375rem; /* 39px */
}

@utility title-large {
  font-size: 1.5rem; /* 24px */
  line-height: 2.125rem; /* 34px */
}
@utility title-medium {
  font-size: 1.375rem; /* 22px */
  line-height: 2rem; /* 32px */
}
@utility title-small {
  font-size: 1.25rem; /* 20px */
  line-height: 1.875rem; /* 30px */
}

@utility body-large {
  font-size: 1.125rem; /* 18px */
  line-height: 1.6875rem; /* 27px */
}
@utility body-medium {
  font-size: 1rem; /* 16px */
  line-height: 1.375rem; /* 22px */
}
@utility body-small {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

@utility caption-large {
  font-size: 0.75rem; /* 12px */
  line-height: 1.125rem; /* 18px */
}
@utility caption-medium {
  font-size: 0.625rem; /* 10px */
  line-height: 0.875rem; /* 14px */
}

@utility number-semibold-28 {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 120%;
}

@utility number-semibold-40 {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 120%;
}

@utility number-semibold-60 {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 3.75rem;
  line-height: 90%;
}
@utility number-semibold-84 {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 5.25rem;
  line-height: 90%;
}

@utility headline-large-bold {
  @apply headline-large font-bold;
}
@utility headline-large-semibold {
  @apply headline-large font-semibold;
}
@utility headline-large-medium {
  @apply headline-large font-medium;
}
@utility headline-medium-bold {
  @apply headline-medium font-bold;
}
@utility headline-medium-semibold {
  @apply headline-medium font-semibold;
}
@utility headline-medium-medium {
  @apply headline-medium font-medium;
}
@utility headline-small-bold {
  @apply headline-small font-bold;
}
@utility headline-small-semibold {
  @apply headline-small font-semibold;
}
@utility headline-small-medium {
  @apply headline-small font-medium;
}
@utility title-large-bold {
  @apply title-large font-bold;
}
@utility title-large-semibold {
  @apply title-large font-semibold;
}
@utility title-large-medium {
  @apply title-large font-medium;
}
@utility title-medium-bold {
  @apply title-medium font-bold;
}
@utility title-medium-semibold {
  @apply title-medium font-semibold;
}
@utility title-medium-medium {
  @apply title-medium font-medium;
}
@utility title-small-bold {
  @apply title-small font-bold;
}
@utility title-small-semibold {
  @apply title-small font-semibold;
}
@utility title-small-medium {
  @apply title-small font-medium;
}
@utility body-large-bold {
  @apply body-large font-bold;
}
@utility body-large-semibold {
  @apply body-large font-semibold;
}
@utility body-large-medium {
  @apply body-large font-medium;
}
@utility body-medium-bold {
  @apply body-medium font-bold;
}
@utility body-medium-semibold {
  @apply body-medium font-semibold;
}
@utility body-medium-medium {
  @apply body-medium font-medium;
}
@utility body-small-bold {
  @apply body-small font-bold;
}
@utility body-small-semibold {
  @apply body-small font-semibold;
}
@utility body-small-medium {
  @apply body-small font-medium;
}
@utility caption-large-bold {
  @apply caption-large font-bold;
}
@utility caption-large-semibold {
  @apply caption-large font-semibold;
}
@utility caption-large-medium {
  @apply caption-large font-medium;
}
@utility caption-medium-bold {
  @apply caption-medium font-bold;
}
@utility caption-medium-semibold {
  @apply caption-medium font-semibold;
}
@utility caption-medium-medium {
  @apply caption-medium font-medium;
}

@utility scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
