@import 'tailwindcss';
@import 'tw-animate-css';

@font-face {
  font-family: 'Pretendard Variable';
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
:root {
  /* ======= primitive ========*/

  /* color 관련 */

  /* grey */
  --grey-1000: #161617;
  --grey-900: #242528;
  --grey-800: #46474a;
  --grey-700: #656669;
  --grey-600: #797a7d;
  --grey-500: #a3a4a7;
  --grey-400: #c1c2c6;
  --grey-300: #e4e5e8;
  --grey-200: #f0f1f5;
  --grey-100: #f6f7fb;
  --grey-50: #fafbff;
  --grey-0: #ffffff;

  /* brand */
  --brand-900: #004aa9;
  --brand-800: #006ac9;
  --brand-700: #007ad9;
  --brand-600: #008cec;
  --brand-500: #019afa;
  --brand-400: #39a9fc;
  --brand-300: #60b8fb;
  --brand-200: #90cefc;
  --brand-100: #bbe0fd;
  --brand-50: #e3f2fe;
  --brand-20: #f4faff;

  /* others */
  --others-red: #ff4443;
  --others-gracyblue: #e4e9f3;
  --others-casualgrey: #fafafb;

  /* special colors */
  --dashboard-bg: #fafbff;
  --card-bg: #ffffff;

  /* ======= sementic ========*/
  /* color 관련 */
  --brand-main: var(--brand-500);
  --brand-light: var(--brand-300);
  --others-negative: var(--others-red);
}

@theme {
  --font-sans: 'Pretendard Variable', sans-serif;

  /*====== 색상 ======= */
  /* text color */
  --color-text-grey-900: var(--grey-900);
  --color-text-grey-700: var(--grey-700);
  --color-text-grey-600: var(--grey-600);
  --color-text-grey-500: var(--grey-500);
  --color-text-grey-400: var(--grey-400);
  --color-text-grey-300: var(--grey-300);
  --color-text-grey-100: var(--grey-100);
  --color-text-grey-50: var(--grey-50);
  --color-text-grey-0: var(--grey-0);

  --color-text-brand-main: var(--brand-500);
  --color-text-brand-light: var(--brand-300);

  --color-text-others-negative: var(--others-red);

  /* icon color */
  --color-icon-grey-900: var(--grey-900);
  --color-icon-grey-700: var(--grey-700);
  --color-icon-grey-600: var(--grey-600);
  --color-icon-grey-500: var(--grey-500);
  --color-icon-grey-400: var(--grey-400);
  --color-icon-grey-300: var(--grey-300);
  --color-icon-grey-100: var(--grey-100);
  --color-icon-grey-50: var(--grey-50);
  --color-icon-grey-0: var(--grey-0);

  --color-icon-brand-main: var(--brand-500);
  --color-icon-brand-light: var(--brand-300);

  --color-icon-others-negative: var(--others-red);

  /* border color */
  --color-border-grey-900: var(--grey-900);
  --color-border-grey-700: var(--grey-700);
  --color-border-grey-600: var(--grey-600);
  --color-border-grey-500: var(--grey-500);
  --color-border-grey-400: var(--grey-400);
  --color-border-grey-300: var(--grey-300);
  --color-border-grey-200: var(--grey-200);
  --color-border-grey-100: var(--grey-100);
  --color-border-grey-50: var(--grey-50);
  --color-border-grey-0: var(--grey-0);

  --color-border-brand-main: var(--brand-500);
  --color-border-brand-light: var(--brand-300);

  --color-border-others-negative: var(--others-red);

  /* button color */
  --color-button-grey-900: var(--grey-900);
  --color-button-grey-700: var(--grey-700);
  --color-button-grey-600: var(--grey-600);
  --color-button-grey-500: var(--grey-500);
  --color-button-grey-400: var(--grey-400);
  --color-button-grey-300: var(--grey-300);
  --color-button-grey-200: var(--grey-200);
  --color-button-grey-100: var(--grey-100);
  --color-button-grey-50: var(--grey-50);
  --color-button-grey-0: var(--grey-0);

  --color-button-brand-bg-500: var(--brand-500);
  --color-button-brand-bg-400: var(--brand-400);
  --color-button-brand-bg-300: var(--brand-300);
  --color-button-brand-bg-200: var(--brand-200);
  --color-button-brand-bg-100: var(--brand-100);
  --color-button-brand-bg-50: var(--brand-50);
  --color-button-brand-20: var(--brand-20);

  --color-button-others-negative: var(--others-red);

  /* layer color */
  --color-layer-grey-900: var(--grey-900);
  --color-layer-grey-700: var(--grey-700);
  --color-layer-grey-600: var(--grey-600);
  --color-layer-grey-500: var(--grey-500);
  --color-layer-grey-300: var(--grey-300);
  --color-layer-grey-200: var(--grey-200);
  --color-layer-grey-100: var(--grey-100);
  --color-layer-grey-50: var(--grey-50);
  --color-layer-grey-0: var(--grey-0);

  --color-layer-others-bg-50: var(--brand-50);
  --color-layer-others-bg-20: var(--brand-20);
  --color-layer-others-tapbg: var(--others-casualgrey);

  --color-layer-others-negative: var(--others-red);

  /*====== 간격 ======= */
  --spacing-spacing-0: 0rem; /* 0px */
  --spacing-spacing-50: 0.125rem; /* 2px */
  --spacing-spacing-100: 0.25rem; /* 4px */
  --spacing-spacing-150: 0.375rem; /* 6px (특수 경우) */
  --spacing-spacing-200: 0.5rem; /* 8px */
  --spacing-spacing-250: 0.625rem; /* 10px */
  --spacing-spacing-300: 0.75rem; /* 12px */
  --spacing-spacing-350: 0.875rem; /* 14px */
  --spacing-spacing-400: 1rem; /* 16px */
  --spacing-spacing-500: 1.25rem; /* 20px */
  --spacing-spacing-600: 1.5rem; /* 24px */
  --spacing-spacing-700: 1.75rem; /* 28px */
  --spacing-spacing-800: 2rem; /* 32px */
  --spacing-spacing-900: 2.25rem; /* 36px */
  --spacing-spacing-1000: 2.5rem; /* 40px */

  /*====== 모서리 둥굴======= */
  --radius-radius-0: 0rem; /* 0px */
  --radius-radius-50: 0.125rem; /* 2px */
  --radius-radius-100: 0.25rem; /* 4px */
  --radius-radius-150: 0.375rem; /* 6px */
  --radius-radius-200: 0.5rem; /* 8px */
  --radius-radius-250: 0.625rem; /* 10px */
  --radius-radius-300: 0.75rem; /* 12px */
  --radius-radius-400: 1rem; /* 16px */
  --radius-radius-500: 1.25rem; /* 20px */
  --radius-radius-600: 1.5rem; /* 24px */
  --radius-radius-700: 1.75rem; /* 28px */
  --radius-radius-800: 2.25rem; /* 36px */
  --radius-radius-900: 3rem; /* 48px */
  --radius-radius-unlimit: 9999px; /* 원형 */
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
}

@utility headline-large {
  font-size: 2.625rem; /* 42px */
  line-height: 3.6875rem; /* 59px */
}
@utility headline-medium {
  font-size: 2.125rem; /* 34px */
  line-height: 3rem; /* 48px */
}
@utility headline-small {
  font-size: 1.75rem; /* 28px */
  line-height: 2.4375rem; /* 39px */
}

@utility title-large {
  font-size: 1.5rem; /* 24px */
  line-height: 2.125rem; /* 34px */
}
@utility title-medium {
  font-size: 1.375rem; /* 22px */
  line-height: 2rem; /* 32px */
}
@utility title-small {
  font-size: 1.25rem; /* 20px */
  line-height: 1.875rem; /* 30px */
}

@utility body-large {
  font-size: 1.125rem; /* 18px */
  line-height: 1.6875rem; /* 27px */
}
@utility body-medium {
  font-size: 1rem; /* 16px */
  line-height: 1.375rem; /* 22px */
}
@utility body-small {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

@utility caption-large {
  font-size: 0.75rem; /* 12px */
  line-height: 1.125rem; /* 18px */
}
@utility caption-medium {
  font-size: 0.625rem; /* 10px */
  line-height: 0.875rem; /* 14px */
}

@utility headline-large-bold {
  @apply headline-large font-bold;
}
@utility headline-large-semibold {
  @apply headline-large font-semibold;
}
@utility headline-large-medium {
  @apply headline-large font-medium;
}
@utility headline-medium-bold {
  @apply headline-medium font-bold;
}
@utility headline-medium-semibold {
  @apply headline-medium font-semibold;
}
@utility headline-medium-medium {
  @apply headline-medium font-medium;
}
@utility headline-small-bold {
  @apply headline-small font-bold;
}
@utility headline-small-semibold {
  @apply headline-small font-semibold;
}
@utility headline-small-medium {
  @apply headline-small font-medium;
}
@utility title-large-bold {
  @apply title-large font-bold;
}
@utility title-large-semibold {
  @apply title-large font-semibold;
}
@utility title-large-medium {
  @apply title-large font-medium;
}
@utility title-medium-bold {
  @apply title-medium font-bold;
}
@utility title-medium-semibold {
  @apply title-medium font-semibold;
}
@utility title-medium-medium {
  @apply title-medium font-medium;
}
@utility title-small-bold {
  @apply title-small font-bold;
}
@utility title-small-semibold {
  @apply title-small font-semibold;
}
@utility title-small-medium {
  @apply title-small font-medium;
}
@utility body-large-bold {
  @apply body-large font-bold;
}
@utility body-large-semibold {
  @apply body-large font-semibold;
}
@utility body-large-medium {
  @apply body-large font-medium;
}
@utility body-medium-bold {
  @apply body-medium font-bold;
}
@utility body-medium-semibold {
  @apply body-medium font-semibold;
}
@utility body-medium-medium {
  @apply body-medium font-medium;
}
@utility body-small-bold {
  @apply body-small font-bold;
}
@utility body-small-semibold {
  @apply body-small font-semibold;
}
@utility body-small-medium {
  @apply body-small font-medium;
}
@utility caption-large-bold {
  @apply caption-large font-bold;
}
@utility caption-large-semibold {
  @apply caption-large font-semibold;
}
@utility caption-large-medium {
  @apply caption-large font-medium;
}
@utility caption-medium-bold {
  @apply caption-medium font-bold;
}
@utility caption-medium-semibold {
  @apply caption-medium font-semibold;
}
@utility caption-medium-medium {
  @apply caption-medium font-medium;
}
