name: Frontend CD
on:
  pull_request:
    branches:
      - main
      - develop
    paths:
      - "frontend/**"

jobs:
  build:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    strategy:
      matrix:
        node-version: [24]
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js ${{matrix.node-version}}
        uses: actions/setup-node@v4
        with:
          node-version: ${{matrix.node-version}}
          cache: "pnpm"
          cache-dependency-path: frontend/pnpm-lock.yaml
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build Project
        run: pnpm build
        working-directory: ./frontend
      - id: 'auth'
        name: Authenticate to Google Cloud
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: 'projects/1022464522377/locations/global/workloadIdentityPools/github-actions-pool/providers/github-provider'
          service_account: 'github-actions-sa@checkmate-485008.iam.gserviceaccount.com'
      - name: Set up Cloud SDK
        uses: 'google-github-actions/setup-gcloud@v2'
      - name: Delete old files from GCS
        run: |
          gsutil -m rm -r gs://checkmate-03/dist/** || true
      - name: Upload to GCS
        run: |
          # 빌드 파일 버킷 업로드
          gsutil -m cp -r ./dist/* gs://checkmate-03/dist/
          # 캐시 정책 설정
          gsutil -m setmeta -h "Cache-Control:public, max-age=31536000, immutable" gs://checkmate-03/dist/assets/**
          gsutil -m setmeta -h "Cache-Control:no-cache" gs://checkmate-03/dist/index.html
      - name: Invalidate CDN Cache
        run: |
          # CDN 캐시 무효화 진행
          gcloud compute url-maps list --format="value(name)" | while read urlmap; do
            gcloud compute url-maps invalidate-cdn-cache $urlmap --path "/dist/*" --async
          done
